@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0px;
    padding: 0px;
}

.logo {
    margin: auto;
    font-family: "Pacifico";
}

.navbar-brand {
    text-align: center;
    width: 250px;
}

.search {
    opacity: 0.8;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
}

.box {
    width: 550px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box>i {
    font-size: 20px;
    color: #777;
}

.box>input {
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #fff;
    width: 100%;
}

.lupa {
    border: 0;
    background-color: #fff;
    color: gray;
}