<!DOCTYPE html>
<html lang="esp">

<head>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.css">
    <link rel="stylesheet" href="/assets/principal.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid me-auto">
            <a class="navbar-brand">
                <h1 class="logo">Bio Salud</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <div class="search">
                    <div class="box">
                        <form class="box">
                            <button class="lupa"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <input type="text" placeholder="Buscar recetas..." alt="buscar">
                        </form>
                    </div>
                </div>
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Inicio
                  <span class="visually-hidden">(current)</span>
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recipes">Recetas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Log in </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>